html {
    font-family: "Fira Code";
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: white;
    overflow-y: overlay;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header {
    color: white;
    background-color: red;
    font-weight: normal;
    font-size: 40px;
    writing-mode: vertical-rl;

    position: absolute;
    top: 80px;
    padding: 20px 0px;
}

#input-box {
    font-size: 40px;
    margin: 10px max(60px, 10%);
    height: 211.2px;
    overflow: hidden;
}

#morse-button {
    background-color: red;
    border: 3px solid red;
    color: white;
    height: 100px;
    margin: 0% max(60px, 10%);
    padding: 0px;
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
}

#morse-button:active {
    background-color: #ee0000;
    color: #eeeeee;
}

#morse-button:focus {
    outline: none;
    border-color: black;
}

#links {
    margin: 10px 0px;
    width: 100%;
    text-align: center;
}

#before-caret {
    color: grey;
}

#caret {
    display: inline;
    margin: 0px;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0%, 100% {
        background: rgba(255, 0, 0, 1);
    }    
    50% {
        background: rgba(255, 0, 0, 0);
    }
}